/* Page name
* Copy right
* Author: Cathy Lu
* Licensed
*/
/* ----------------------- *\
   Content
\* ----------------------- */
/**
 * @description: This is the style for the cathy.html page.
 * Content........You are reading it.
 * Globel.........Set common styles.
 * Layout.........Set grid styles.
 * Components.....Set component styles.
 */ 
/* ----------------------- *\
   Globel
\* ----------------------- */
*{ 
   box-sizing: border-box;
   margin: 0;
   padding:0;
   font-family: "微軟正黑體","arial";
   color: #000;
}
a{
   display: inline-block;
   text-decoration: none;
   color: #000;
}
h1,h2,p{
   margin: 0;
   padding: 0;
}
html,body{
   height: 100%;
   width: 100%;
}
.wrapper{
   height: 100%;
   background-color: #ccc;
   overflow: hidden;
}

/* body內容 */
/* 導覽列 */
.head{
   position: relative;
   display: inline-block;
   vertical-align: middle;
   width: 100%;
   height: 164px;
   padding-top: 67px;
   font-size: 20px;
   letter-spacing: 150%; /* 字距 */
}

.head .headleft{
   position: absolute;
   display: inline-block;
   width: 130px;
   height: 55px;
   margin-left: 80px;
   line-height: 55px; /* 讓文字垂直置中 */
   font-weight: bold;
   letter-spacing: 2px; /* 字距 */
}
.head .btn{
   position: absolute;
   right: 10px;
   display: inline-block;
   width: 502px;
   height: 55px;
   margin-left: 682px;
   word-spacing: 48px;
   vertical-align: middle;
   line-height: 55px; /* 讓文字垂直置中 */
   /* 不曉得為何字不能對齊 */
}
.head .btn4{
   width: 102px;
   height: 55px;
   margin-left: 0;
   margin-right: 0;
   text-align: center;
   color: #fff;
   background-color: #000;
   border-radius: 8px; /* 設定圓角 */
}

/* 網頁標題文字 */
.title{
   width: 100%;
   height: 137px;
   padding-left: 197px;
   margin-top: 31px;;
   margin-bottom: 40px;
}
.title h1{
   font-size: 64px;
   font-weight: bold;
   height: 77px;
   margin-bottom: 24px;
}
.title p{
   font-size: 20px;
   color: #666;
   height: 36px;
   margin-bottom: 0;
}
.btnt {
   display: block;
   width: 136px;
   height: 76px;
   margin-left: 197px;
   background-color: #000;
   border-radius: 8px;
   font-size: 24px;
   font-weight: bold;
   color: #fff;
   text-align: center;
   line-height: 76px; /* 讓文字垂直置中 */
}
/* aside 個人照片和學經歷 */
/* 重要 這部分img可能要加入flot屬性 */
.aside{
   /* position: relative; */
   /* left: 50%; */
   /* top: 0; */
   /* 這裡的position要設定relative 否則圖片會超出容器 */
   /* transform: translate(50%, 0); */
   /* 這裡的transform要設定translate(50%, 0) 否則aside會超出容器 */
   /* 這裡的left要設定50% 否則aside會超出容器 */
   /* 這裡的top要設定0 否則aside會超出容器 */
   display: block;
   max-width: 1475px; /* 讓aside不會超出容器 */
   /* width: 100%; */
   width: 1475px;
   height: 500px;
   /* vertical-align: top; */
   margin-top: 124px;
   margin-left: auto;
   margin-right: auto;
   /* padding: 0; */
   padding-left: auto;
   padding-right: auto;
}
.aside .img{
/* 圖片要用class設定 不要用元素 */
   display: inline-block;
   max-width: fit-content; /* 讓圖片不會超出容器 */
   width: 440px;
   height: 500px;
   margin-left: 174px;
   overflow: hidden;
}
.aside .des{
   display: inline-block;
   max-width: fit-content; /* 讓aside不會超出容器 */
   /* width: 100%; */
   /* width: 438px; */
   /* 這裡的寬度要和圖片寬度一致 */
   width: 438px;
   height: 500px;
   margin-left: 249px;
   vertical-align: top;
   font-size: 24px;
   line-height: 50px;
   position: relative;
   top: 50px; /* 調整文字位置 */
}
.aside .h2{
   font-weight: bold;
}

/* 個人資料 */
.imfo{
   position: relative;
   display:block;
   width: 1253px;
   height: 263px;
   margin-top: 182px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 170px;
}
.per .h1{
   display: block;
   /* width: 264px; */
   height: 55px;
   /* margin-left: 96px; */
   /* margin-top: 182px; */
   font-size: 48px;
   font-weight: bold;
}
.perbox{
   display: block;
   width: 1253px;
   height: 165px;
   /* margin-left: 96px; */
   margin-top: 40px;
   background-color: #D9D9D9;
   font-size: 24px;
}

/* 個人資料灰盒部分 */
.perbox .h1{
   display:inline-block;
   width: 127px;
   height: 110px;
   margin-left: 95px;
   margin-top: 28px;
   font-weight: bold;
   line-height: 52px;
}
.perbox .p1{
   display:inline-block;
   width: 127px;
   height: 110px;
   margin-left: 0px;
   margin-top: 28px;
   line-height: 52px;
}
.perbox .h2{
   display:inline-block;
   width: 127px;
   height: 110px;
   margin-left: 56px;
   margin-top: 28px;
   font-weight: bold;
   line-height: 52px;
}
.perbox .p2{
   display:inline-block;
   width: 528px;
   height: 110px;
   margin-left: 0px;
   margin-top: 28px;
   line-height: 52px;
}

/* 三窗欄部分 */
.three{
   display: block; /* div 預設就是 block */
   width: 100%;
   max-width: 1270px; 
   /* 讓容器不會超出 */
   /* 這裡的max-width要設定為1270px 否則容器會超出 */
   /* padding-left: 197px; */
   /* width: 1270px; */
   height: 670px;
   margin-top: 53px;
   margin-left: 170px;
   margin-right: auto;
}
.three .box1,.box2,.box3{
   display: inline-block;
   width: 402px;
   height: 590px;
   background-color: #ffffff;
   font-size: 24px;
   line-height: 150%;
   color: #666;
   margin-top: auto;
   margin-bottom: auto;
}
.three .img1,.img2,.img3{
   display: inline-block;
   width: 402px;
   height: 405px;
   overflow: hidden;
   margin-bottom: 46px;
}
.three .h1,.h2,.h3{
   height: 36px;
   color:#000;
   font-weight: bold;
   line-height: 150%;
}
.three .p1{
   color: #666;
   line-height: 150%;
}

/* 工作經驗 */
.experience{
   display: block;
   width: 100%;
   max-width: 1276px; /* 讓容器不會超出 */
   /* width: 1276px; */
   height: 940px;
   margin-top: 182px;
   margin-left: 170px;
   margin-right: auto;
}
.experience .h1{
   display: block;
   height: 58px;
   font-size: 48px;
   font-weight: bold;
   margin-bottom: 40px;
}
.experience .box{
   display: block;
   width: 1276px;
   height: 842px;
   background-color: #D9D9D9;
   font-size: 24px;
   line-height: 36px;
   padding-left: 53px;
   padding-right: 53px;
   padding-top: 41px;
   padding-bottom: 41px;
}
.experience .box .p2{
   display: block;
   height: 171px;
   margin-bottom: 22px;
}
.experience .box .h2{
   display: block;
   height: 36px;
   font-weight: bold;
   margin-bottom: 22px;
}
/* 自傳 */
.autobio {
   display: block;
   width: 1250px;
   height: 627px;
   margin-top: 108px;
   /* margin-bottom: px; */
   margin-left: 170px;
   margin-right: auto;   
}
.autobio .h1{
   display: block;
   height: 58px;
   font-size: 48px;
   font-weight: bold;
   margin-bottom: 40px;
   margin-left: 0px;
}
.autobio .box{
   display: block;
   width: 1250px;
   height: 529px;
   font-size: 24px;
   line-height: 150%;
   text-indent: 2em; /* 首行縮排 */
   color: #666;
   background-color: #fff;
   margin-left: 0px;
   padding-top: 0px;
   padding-bottom: 110px;
   padding-left: 0px;
   padding-right: 0px;
}
.autobio .box .autop1,.autop2,.autop3,.autop4,.autop5{
   display: block;
   color: #666;
}

/* 底部圖片 */
.two {
   /* display: inline-block; */
   /* max-width:1300px;  */
   /* 讓容器不會超出 */
   /* width: 1300px; */
   /* height: 320px; */
   /* margin-top: 60px; */
   /* overflow: hidden; */
   /* vertical-align: auto; */

   display: block; /* div 預設就是 block */
   max-width: 1300px; /* 讓容器不會超出 */
   width: 1300px;
   height: 320px;
   margin-top: 60px;
   margin-left: 170px;
   margin-right: auto;

}
.two .img4,.img5 {
   display: inline-block;
   max-width: 565px; /* 讓圖片不會超出容器 */
   width: 565px;
   height: 320px;
   overflow: hidden;
   margin-left: 30px;
   margin-right: 30px;
}
.two .img4 img{
   height: 100%;
   max-width: fit-content;
   margin-inline: auto;
   /* 圖片置中好像沒作用 */
}
.two .img5 img{
   width: 100%;
}

/* Footer */
.footer{
   display: block;
   width: 100%;
   height: 304px;
   background-color: #F7F7F7;
   margin-top: 428px;
   margin-left: 0%;
   margin-right: 0%;
   padding-top: 89px;
   padding-left: 0%;
   position: relative;
   bottom: 0;
}
/* footer best regards */
.footer .footer1{
   display: inline-block;
   width: 450px;
   height: 76px;
   /* margin-top: 89px; */
   padding-left: 80px;
   line-height: 76px; /* 讓文字垂直置中 */
   line-height: 150%;
   text-align: left;
   font-size: 48px;
   font-weight: bold;
   color: #000;
}
/* footer btn */
.footer .footer2{
   display: inline-block;
   max-width: fit-content; /* 讓footer不會超出容器 */
   width: 320px;
   height: 76px;
   font-size: 18px;
   text-align: center;
   font-weight: bold;
   line-height: 55px; /* 讓文字垂直置中 */
   vertical-align: middle;
   gap: 48px; /* 按鈕間距 */
   position: relative;
   left: 600px; /* 調整按鈕位置 */
   /* 這裡的left值要和.btn的margin-left值一致 */
   /* right: -200px; */
}
.footer .btn4{
   width: 102px;
   height: 55px;
   margin-left: 0;
   margin-right: 0;
   text-align: center;
   color: #fff;
   background-color: #000;
   border-radius: 8px; /* 設定圓角 */
}
.footer .btn1{
   width: 160px;
   height: 55px;
   margin-left: 0;
   margin-right: 0;
   text-align: center;
   color: #000;
   background-color: #E6E6E6;
   border-radius: 8px; /* 設定圓角 */
}
.footer .footer3 {
   display: block;
   margin-left: 80px;
   margin-top: 40px;
}
